<div class="login">
<div class="main">
	<div class="login-form">
		<h1>Đăng nhập</h1>
		<div class="head">
			<img src="../../assets/img/user.png" alt="">
		</div>
		<form ng-submit="submitLogin()">
			<input type="text" class="text" placeholder="Mã đơn vị" ng-model="maDonVi" autofocus /> 
			<input type="password" placeholder="Password" ng-model="matkhau" />
			<div class="submit">
				<input type="submit" value="LOGIN">
			</div>
			<p class="copyright">
				© Copyright 2015 Võ Minh Quân
			</p>
		</form>
	</div>
</div>
</div>